.footer__link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px; 
    
    margin-right:19px;
    text-decoration: none;
    color: white;
    transition: opacity 3s ease;
}
.footer__link:hover{
    opacity: 0.5;}


    @media  (max-width : 768px) {
        .footer__link{
            font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    
            
                }
  
@media  (max-width : 600px)  {
    .footer__link{
        margin-right: 5px;
        font-size: 10px;
        line-height: 15px;
    
  }
  
  }              




                }
     @media  (max-width : 425px) {
       .footer__link{
      font-family: Inter;
    font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 52px;
                
                        
                            }
                            
                            }          