.footer__copyright{
   display: flex;
   flex-direction: row;
  align-items: center;
  

  
   font-family:'Inter', Arial, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 20px;
 
   
}
@media  (max-width : 425px)  {
   .footer__copyright{
    
  
 max-width: 282px;
  margin-left: 0;
  margin-right: auto;
 display: flex;
 flex-direction: row;
   }
}
