.places__url-heading{
 
   
    
    margin-bottom: 10px;
    font-family:'Inter', Arial, sans-serif; 
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.2em;
text-decoration: none;
color: #AAAAAA;
transition: opacity 3s ease;
}
.places__url-heading:hover{
    opacity: 0.5;}
