.intro__item-two{
    display:flex ;
    width: auto;
    flex-direction: row;
    font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 16px;
}