.intro__title{
    
   
    margin-top: 0;
    margin-bottom:34px;
    font-family:'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;

}
@media screen {
    .intro__title {
      max-width:683px ;
    }
  
  }
  @media screen and (max-width : 1024px) and (min-width : 720px){
    .intro__title{
    max-width :928px ;}
  }
  
  
  
  @media screen and (max-width : 768px) and (min-width : 425px) {
    .intro__title{
    max-width:720px ;
  
  }
  
  }
  
  
  @media screen and (max-width : 425px) {
    .intro__title{
      max-width :343px ;
      font-size: 32px;
      line-height: 35px;
    }
    }

